# Sample instrumentation config file, should be used to inclusively specify which methods of which classes to instrument.
# The structure is as such:
# - <class regex><whitespace><method regex>
#   <code at method start>
#   <code at method end>
# - next entry
#   ...
- org.bcps.InstrumentationTest .*
  org.bcps.dsl.instrumentation.ThreadedRecorder.start("$CLASS_NAME.$METHOD_NAME", $ARG1+"|"+$ARG2);
  org.bcps.dsl.instrumentation.ThreadedRecorder.complete("$CLASS_NAME.$METHOD_NAME");
- ^sun.* .*
  System.out.println("baz");
  // comment is noop ;)